<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app04.dao.GradeMapper">
	<!-- 查询所有Grade -->
	<select id="findAll" resultType="com.briup.app04.bean.Grade">
		select * 
		from grade
	</select>
	
	<!-- 按ID查询Grade -->
	<select id="findById" parameterType="Long"
		resultType="com.briup.app04.bean.Grade">
		select * 
		from grade 
		where id=#{id}
	</select>
	
	<!-- 按name查询Grade -->
	<select id="findByName" parameterType="String"
		resultType="com.briup.app04.bean.Grade">
		select * 
		from grade 
		where name=#{name}
	</select>

	<update id="update" parameterType="com.briup.app04.bean.Grade">
		update grade 
		set name=#{name},description=#{description}
		where id=#{id}
	</update>

	<insert id="inserts" parameterType="com.briup.app04.bean.Grade">
			insert 
			into grade 
		<foreach item="item" collection="answer" separator=",">
			values(#{item.id}, #{item.name}, #{item.description})
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.briup.app04.bean.Grade">
		insert into 
		grade 
		values(#{id}, #{name}, #{description})
	</insert>

	<delete id="delete" parameterType="Long">
		delete 
		from grade 
		where id=#{id}
	</delete>
</mapper> 