<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app04.dao.QQMapper">
	<!-- 查询所有Course -->
	<select id="findAll" resultType="com.briup.app04.bean.QQ">
		select * 
		from qq
	</select>
	
	<!-- 按ID查询Course -->
	<select id="findById" parameterType="Long"
		resultType="com.briup.app04.bean.QQ">
		select * 
		from qq 
		where id=#{id}
	</select>

	<update id="update" parameterType="com.briup.app04.bean.QQ">
		update qq 
		set question_id=#{question_id},questionnaire_id=#{questionnaire_id}
		where id=#{id}
	</update>

	<insert id="inserts" parameterType="com.briup.app04.bean.QQ">
			insert 
			into qq values
		<foreach item="item" collection="qq" separator=",">
			(#{item.id}, #{item.question_id}, #{item.questionnaire_id})
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.briup.app04.bean.QQ">
		insert into 
		qq 
		values(#{id}, #{question_id}, #{questionnaire_id})
	</insert>

	<delete id="delete" parameterType="Long">
		delete 
		from qq 
		where id=#{id}
	</delete>
</mapper> 