<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app04.dao.QuestionMapper">
	<!-- 查询所有Course -->
	<select id="findAll" resultType="com.briup.app04.bean.Question">
		select * 
		from question
	</select>
	
	<!-- 按ID查询Course -->
	<select id="findById" parameterType="Long"
		resultType="com.briup.app04.bean.Question">
		select * 
		from question 
		where id=#{id}
	</select>

	<update id="update" parameterType="com.briup.app04.bean.Question">
		update question 
		set name=#{name},questiontype=#{questiontype}
		where id=#{id}
	</update>

	<insert id="inserts" parameterType="com.briup.app04.bean.Question">
			insert 
			into question 
		<foreach item="item" collection="answer" separator=",">
			values(#{item.id}, #{item.name}, #{item.questiontype})
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.briup.app04.bean.Question">
		insert into 
		question 
		values(#{id}, #{name}, #{questiontype})
	</insert>

	<delete id="delete" parameterType="Long">
		delete 
		from question 
		where id=#{id}
	</delete>
</mapper> 