<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app04.dao.StudentMapper">

	<select id="findAll" resultType="com.briup.app04.bean.Student">
		select * from tbl_student
	</select>

	<select id="findById" parameterType="long"
		resultType="com.briup.app04.bean.Student">
		select * from tbl_student where id=#{id}
	</select>

	<update id="update" parameterType="com.briup.app04.bean.Student">
		update tbl_student set name=#{name},age=#{age} where id=#{id}
	</update>

	<insert id="insert" parameterType="com.briup.app04.bean.Student">
		insert into tbl_student values(#{id},#{name},#{age})
	</insert>

	<insert id="inserts" parameterType="com.briup.app04.bean.Student">
		insert
		into tbl_student
		<foreach item="item" collection="student" separator=",">
			values(#{id},#{name},#{age})
		</foreach>
	</insert>

	<delete id="delete" parameterType="long">
		delete from tbl_student where id=#{id}
	</delete>
</mapper>